@model FizzBuzzMVC.Models.FizzBuzz;


<div class="container px-2 py-3 mt-5">
    <div class="row gy-2 row-cols-1 row-cols-md-2">
        <div class="col-12 col-lg-5 border-end border-2">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                FizzBuzz: A Coding Project
            </h1>
            <h4 class="lead pb-2">
                When it counts you  Fizz Buzz. A C# project using MVC.
                A program that prints the numbers from 1 to 100 and multiples of '3' display
                <strong>"Fizz"</strong> instead of the number and for the multiples of '5' display
                <strong>"Buzz"</strong>. If multiple of both display <strong>"FizzBuzz"</strong>.
            </h4>
            <h2 class="mt-2 mt-md-5">Instructions</h2>
            <p>Enter a Fizz and a Buzz value. Press the button and the values will appear</p>
        </div>
        <div class="col-12 col-lg-7">
            <div>
                <h5>Enter Values</h5>

                @* Form *@
                <form class="row gy-2 gx-3" asp-controller="Home" asp-action="FBPage" method="post">
                    <div class="col">
                        <input asp-for="FizzValue" class="form-control"
                               placeholder="Fizz Value" value="@Model.FizzValue">
                    </div>
                    <div class="col">
                        <input asp-for="BuzzValue" class="form-control"
                               placeholder="Buzz Value" value="@Model.BuzzValue">
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-dark btn-lg" type="submit">Buzz It</button>
                    </div>
                </form>

                <h2 class="mt-5 border-bottom border-2">Results</h2>
                <div class="table-responsive">
                    @* Table *@
                    @if (@Model.Result.Count > 0)
                    {
                        <table class="table table-striped table-hover table-dark">
                            <thead>
                                <tr><th colspan="5">Fizz Buzz Results</th></tr>
                            </thead>
                            @for (int i = 0; i < Model.Result.Count(); i += 5)
                            {
                                <tr>
                                    <td>@Model.Result[i]</td>
                                    <td>@Model.Result[i + 1]</td>
                                    <td>@Model.Result[i + 2]</td>
                                    <td>@Model.Result[i + 3]</td>
                                    <td>@Model.Result[i + 4]</td>

                                </tr>
                            }
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</div>